<div id="divGlobal">
    <div id="imgSingleBeer">
        <img src={{this.image_url}} alt={{this.name}}>
    </div>

    <div id="infoBeer">
        <h1 id="beerName">{{this.name}}</h1>
        <p id="beerDesc">{{this.description}}</p>
        <p id="beerTag">{{this.tagline}}</p>    
    </div>          
</div>
